body{
  font-family: 'Raleway', sans-serif; /* Test for this*/
  margin: 0;
  padding: 0;
  font-size: 16pt; /* test for this! Make all sizes em or rem */
}

nav{
  background-color: rgb(69, 223, 69);
}



h1{
  font-size: 2em;
  text-align: center;
  line-height: 2;
  color: rgb(69, 223, 69)
}

h2{
  font-size: 1.5em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}


p {
  padding: 0, 30px;
  line-height: 50px;
  margin-right: auto;
  text-align: left;
 
}
#company{
  width:auto;
  background-color:black;
  color:white
}

#accomplishment{
  background-color:rgb(69, 223, 69)
};
}

a.skip{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

a.skip:focus{
  top:20px;
  color: black;
  text-decoration-style: solid;
}

*:focus{
  border: 2px solid black;
}

footer{
  background-color: black;
  color: white;
  padding: 30px;
  text-align: center;
}

/*Begin your code here*/
/*Keyframes for animation*/

@-webkit-keyframes logo_wiggle{
 

  /*Your code here.*/
  


}

@keyframes logo_wiggle{
  from {width :25px;}
  to {width: 420px;}
  /*Your code here.*/

} 

#logo{
  justify-content: center;
  vertical-align: middle;
  position: relative;
  animation: logo_wiggle 15s 1;
   /*Your code here.*/
 
}

/* Cards! */
.pricing{
    min-height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /*Your code here.*/
    /*Don't forget to vertically and horizontally alight the card*/
  
}

.card {
  margin: 12px;
  background: #fff;
  border-radius: 7px;
  padding: 0 0 50px 0;
  flex-basis:400px 
  /*Your code here.*/
  /*Take a look at flex-basis*/

}

.card > header{
  background: black;
  border: 2px solid black;
  padding: 20px 0;
  border-radius: 7px 7px 0 0;
}

.card > ul{
  list-style: none;
  padding: 0;
}

.card > ul li {
  width: 90%;
  margin: 20px auto;
}

.card button{
  width: 90%;
  height: 40px;
  border: 0;
  margin-left: 12px;
  border-radius: 7px;
  background: red;
  color: white;
  font-size: 1em;
}

.card h3{
  font-size: 4em;
  color: white;
  text-align: center;
}

.card_big{
  -webkit-transform: initial;
          transform: initial;
}

/* Gallery! */
.gallery{
  min-height: 600px;
  display:flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  /*Your code here again.*/
}

.gallery > img{
  border: 10px  rgb(69, 223, 69) solid;
  margin: 10px;
  width: 300px;
}

/* Navbar */
header{
  background: #fff;
  border-bottom: 3px solid  rgb(69, 223, 69);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  
  /*Your  code here again.*/
}

.nav_links{
  /*Your code here again.*/
  display:flex;
  flex-direction: column;
  justify-content: space-between;

}

.nav_item a{
  color: black;
  text-decoration: none;
}

.nav_item a:hover, a:focus{
  color: rgb(69, 223, 69);
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
}

@media screen and (min-width: 850px){

  /* Cards! */
  .card {
    flex-basis: 225px
    /*Your  code here again.*/
  }

  .card_big{
    -webkit-transform: scaleX(1.12);
            transform: scaleX(1.12);
  }

  /* Navbar */
  header{
    text-align:left;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;

    /*Your code here again.*/  
  }

  .nav_links{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: right; 
    /*Your code here again.*/  
  }

  .nav_item a{
    padding: 10px;
  }
}

@media print { 
  .card {
    flex-basis: 200px;
  }
  /*Your code here again.*/
  /*You will want four selectors*/  
  #logo{
    animation: none;
    width: 420px;
  }

  body{
    background-image: none;
  }

  .gallery{
    display: none
  }
  #gallery{
    display: none;
  }
  .pricing{
    align-items: flex-start;
  }
}
  

@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }

  .skip a{
    -webkit-transition: none; /* sets to default setting */
    transition: none;        /* sets to default setting */
   }

  /*Turn off parallax*/
  header{
    background-attachment: initial;
  }
  #logo{
    animation: none;
  }
  
/*Your code here again.*/ 
/*Add media query to handle reduced-motion*/